.content-flex-center {
    display: flex;
    justify-content: center;
}
.table-container-pengajuan-baru td, 
.table-container-proyek-baru td,
.table-container-transaksi-baru td {
    padding: 0px 8px;
    vertical-align: top;
    width: 100%;
}
.table-container-proyek-baru td:nth-child(1){
    width: 150px;
} 
.table-container-proyek-baru td:nth-child(2) {
    width: 350px;
}
/* .table-container-proyek-baru td:nth-child(3) {
    width: 550px;
} */

.table-container-pengajuan-baru td:nth-child(1){
    width: 250px;
} 

.table-container-pengajuan-baru td:nth-child(2){
    width: 250px;
} 

.table-container-proyek-baru td:nth-child(3) {
    width: 250px;
}

.table-container-transaksi-baru td:nth-child(1){
    width: 100px;
} 

.table-container-transaksi-baru td:nth-child(2){
    width: 250px;
} 

.table-container-cell-pengajuan-baru {
    display: flex;
}

/*.table-container-cel-pengajuan-baru {
    display: flex;
    flex-direction: column;
}
.table-container-cel-pengajuan-baru>.item-label {
    margin-bottom: 8px;
} */
.container-preview-img-pegawai {
    display: none;
    /* margin-bottom: 16px; */
    cursor: pointer;
}
.container-preview-img-pegawai:hover .preview-img-pegawai {
    opacity: 0.3;
}
.container-preview-img-pegawai:hover .preview-img-pegawai-middle {
    opacity: 1;
}
.container-preview-img-pegawai .preview-img-pegawai-middle {
    opacity: 0;
}

.card-container {
    display: flex;
    margin: 8px 8px 0px 8px;
    /* border: 1px solid #d3d1d1; */
}

.left-container {
    width: 45%;
    background-color: #ECEFF1;
    padding: 16px;
    height: Calc(100vh - 200px);
}

.right-container {
    width: 55%;
    padding: 0 16px 16px;
}

.table-transaksi {
    width: 100%;
}

.table-transaksi th {
    background-color: rgb(200, 198, 202);
    padding: 8px;
}

.table-transaksi th:nth-child(1){
    text-align: left;
} 

.table-transaksi th:nth-child(2){
    width: 150px;
    text-align: right;
} 

.table-transaksi th:nth-child(3){
    width: 150px;
    text-align: right;
} 

.table-transaksi th:nth-child(4){
    width: 80px;
    text-align: center;
} 