.content-flex-center {
    display: flex;
    justify-content: center;
}
.table-container-pengajuan-baru td {
    padding: 0px 8px;
    vertical-align: top;
    width: 100%;
}
.table-container-pengajuan-baru td:nth-child(1) {
    width: 150px;
}
.table-container-pengajuan-baru td:nth-child(2) {
    width: 250px;
}
.table-container-cel-pengajuan-baru {
    display: flex;
    flex-direction: column;
}
.table-container-cel-pengajuan-baru>.item-label {
    margin-bottom: 8px;
}