/* body {
    overflow-x: hidden; 
} */

.content-flex-center {
    display: flex;
    justify-content: center;
}

.table-proyek-persiapan, 
.table-proyek-profile, 
.table-proyek-budget {
    width: 80%;
    max-width: 900px;
}

.table-proyek-monitoring {
    width: 90%;
    min-width: 1000px;
}

.table-proyek-persiapan td:nth-child(1),
.table-proyek-profile td:nth-child(1),
.table-proyek-budget td:nth-child(1),
.table-proyek-monitoring td:nth-child(1) {
    width: 150px;
} 

.table-proyek-persiapan td, 
.table-proyek-profile td,
.table-proyek-budget td,
.table-proyek-monitoring td,
.table-container-pengajuan-baru td, 
.table-container-proyek-baru td,
.table-container-transaksi-baru td {
    padding: 0px 8px;
    vertical-align: top;
}

.table-container-pengajuan-baru td:nth-child(1){
    width: 250px;
} 

.table-container-pengajuan-baru td:nth-child(2){
    width: 250px;
} 

.table-container-proyek-baru td:nth-child(3) {
    width: 250px;
}

.table-container-transaksi-baru td:nth-child(1){
    width: 100px;
} 

.table-container-transaksi-baru td:nth-child(2){
    width: 250px;
} 

.table-container-cell-pengajuan-baru {
    display: flex;
}

.container-preview-img-pegawai {
    display: none;
    cursor: pointer;
}
.container-preview-img-pegawai:hover .preview-img-pegawai {
    opacity: 0.3;
}
.container-preview-img-pegawai:hover .preview-img-pegawai-middle {
    opacity: 1;
}
.container-preview-img-pegawai .preview-img-pegawai-middle {
    opacity: 0;
}

.card-container {
    display: flex;
    margin: 8px 8px 0px 8px;
    /* border: 1px solid #d3d1d1; */
}

.left-container {
    width: 45%;
    background-color: #ECEFF1;
    padding: 16px;
}

.right-container {
    width: 55%;
    padding: 8px 16px;
    background-color: #f3f5f7;
}

.table-transaksi {
    width: 100%;
    margin-bottom: 16px;
}
.table-transaksi th {
    padding: 8px;
    background-color: #f3f5f7;
    border: 2px solid #f3f5f7;
}
.table-transaksi tr {
    background-color: #ECEFF1;
    border: 2px solid #f3f5f7;
}
.table-transaksi td {
    border: 2px solid #f3f5f7;
}
.table-transaksi td:nth-child(4) {
    text-align: center;
}
.table-transaksi td {
    padding: 8px;
}
.table-transaksi th:nth-child(1){
    text-align: left;
} 
.table-transaksi th:nth-child(2){
    width: 150px;
    text-align: left;
} 
.table-transaksi th:nth-child(3){
    width: 150px;
    text-align: left;
} 
.table-transaksi th:nth-child(4){
    width: 80px;
    text-align: center;
} 

.table-monitoring {
    width: 90%;
    min-width: 1000px;
    margin-left: 8px;
}
.table-monitoring tr:hover {
    background-color: #c2c1bf;
}
.table-monitoring th {
    padding: 4px 8px;
    background-color: #f5d99e;
    border: 2px solid #f3f5f7;
}
.table-monitoring td {
    vertical-align: top;
    padding: 2px 8px;
}
.table-monitoring th:nth-child(6) {
    border-left: 12px solid #f3f5f7;
    background-color: #f3b838;
}
.table-monitoring td {
    padding: 2px 8px;
    vertical-align: top;
}
.table-monitoring th:nth-child(1),
.table-monitoring td:nth-child(1) {
    width: 30px;
}
.table-monitoring td:nth-child(1) {
    text-align: right;
}
.table-monitoring th:nth-child(2) {
    width: 120px;
    text-align: center;
}
.table-monitoring td:nth-child(2) {
    width: 120px;
    text-align: center;
}
.table-monitoring th:nth-child(3) {
    width: 120px;
    text-align: center;
}
.table-monitoring th:nth-child(4) {
    width: 150px;
    text-align: center;
}
.table-monitoring td:nth-child(3) {
    width: 120px;
    text-align: right;
}
.table-monitoring td:nth-child(4) {
    width: 150px;
    text-align: right;
}
.table-monitoring th:nth-child(5) {
    width: 350px;
    text-align: center;
}
.table-monitoring td:nth-child(6) {
    width: 350px;
    text-align: left;
    padding-left: 32px;
    /* cursor: pointer; */
}

/* ::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background-color: rgb(177, 177, 176);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(140, 194, 245, 0.3);
} */
.pengajuan-cc-body::-webkit-scrollbar,
.proyek-cc-body::-webkit-scrollbar {
    width: 2px;
}
.pengajuan-cc-body::-webkit-scrollbar-track,
.proyek-cc-body::-webkit-scrollbar-track {
    background-color: rgb(214, 230, 126);
}
.pengajuan-cc-body::-webkit-scrollbar-thumb,
.proyek-cc-body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.pengajuan-cc-header,
.proyek-cc-header {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(226, 223, 223);
    border-bottom: none;
}
.pengajuan-cc-body,
.proyek-cc-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 1px solid rgb(226, 223, 223);
    border-top: none;
}
.pengajuan-cc-item,
.proyek-cc-item {
    display: flex;
    justify-content: center;
    vertical-align: top;
}
.proyek-cc-item:hover {
    background-color: rgb(229, 241, 252);
}
.pengajuan-cc-header span, .pengajuan-cc-item span,
.proyek-cc-header span, .proyek-cc-item span {
    padding: 2px 4px;
    border-right: 1px solid white;    
}
.pengajuan-cc-header span,
.proyek-cc-header span {
    font-weight: 700;
    text-align: center;
}
.pengajuan-cc-header span {
    background-color: #f5d99e;
}
.proyek-cc-header span {
    background-color: #9dc8fa;
}
.pengajuan-cc-header span:nth-child(1),
.pengajuan-cc-item span:nth-child(1),
.proyek-cc-header span:nth-child(1),
.proyek-cc-item span:nth-child(1) {
    min-width: 50px;
}
.pengajuan-cc-item span:nth-child(1),
.proyek-cc-item span:nth-child(1) {
    text-align: right;
}
.pengajuan-cc-header span:nth-child(2),
.pengajuan-cc-item span:nth-child(2) {
    min-width: 100px;
}
.pengajuan-cc-item span:nth-child(2) {
    text-align: center;
}
.proyek-cc-header span:nth-child(2),
.pengajuan-cc-header span:nth-child(3),
.pengajuan-cc-header span:nth-child(4),
.proyek-cc-item span:nth-child(2),
.pengajuan-cc-item span:nth-child(3),
.pengajuan-cc-item span:nth-child(4) {
    min-width: 130px;
}
.proyek-cc-item span:nth-child(2),
.pengajuan-cc-item span:nth-child(3),
.pengajuan-cc-item span:nth-child(4) {
    text-align: left;
}
.proyek-cc-header span:nth-child(3),
.proyek-cc-item span:nth-child(3),
.pengajuan-cc-header span:nth-child(5),
.pengajuan-cc-item span:nth-child(5) {
    min-width: 250px;
}
.proyek-cc-item span:nth-child(3),
.pengajuan-cc-item span:nth-child(5) {
    text-align: left;
}
.proyek-cc-header span:nth-child(5),
.proyek-cc-item span:nth-child(5),
.proyek-cc-header span:nth-child(6),
.proyek-cc-item span:nth-child(6),
.pengajuan-cc-header span:nth-child(6),
.pengajuan-cc-item span:nth-child(6) {
    min-width: 180px;
}
.proyek-cc-item span:nth-child(5),
.proyek-cc-item span:nth-child(6),
.pengajuan-cc-item span:nth-child(6) {
    text-align: right;
}
.proyek-cc-header span:nth-child(4),
.proyek-cc-item span:nth-child(4),
.pengajuan-cc-header span:nth-child(7),
.pengajuan-cc-item span:nth-child(7) {
    flex-grow: 1;
    min-width: 350px;
}
.proyek-cc-item span:nth-child(4),
.pengajuan-cc-item span:nth-child(7) {
    text-align: left;
}
.pengajuan-cc-header span:nth-child(8),
.pengajuan-cc-item span:nth-child(8) {
    min-width: 130px;
    border-right: none;
}
.proyek-cc-header span:nth-child(7), .proyek-cc-item span:nth-child(7) {
    min-width: 80px;
    border-right: none;
    text-align: center;
}
.widget-cc {
    /* width: 300px; */
    height: 250px;
}