.container-login {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    height: 400px;
    margin: 100px auto;
}
.container-login-body {
    padding: 10px 48px;
}
.header-login {
    margin-bottom: 48px;
}